body{
  padding: 2em 3em;
  background-color: #303030;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #F9D120;
  text-align: center;
  margin: 0 auto;
}

.banner {
  padding: 2em;
  height: 33%;
  min-width: 450px;
  max-width: 860px;
  background-color: #666666;
  margin: 0 auto 0.5em auto;
}

.breadcrumb {
  padding: 1em;
  min-width: 450px;
  max-width: 860px;
  margin: 0 auto 0.5em auto;
  display: flex;
}

.breadcrumb > a,
.breadcrumb > p {
  margin: 0px 0.5em 0px 0.5em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.banner > h1 {
  text-align: center;
  color: #F9D120;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.big > .menu {
  margin-top: 1em;
  padding: 1em;
  background-color: #F4F4F4;
}

.big > .menu > a{
  text-decoration: none;
  color: #222222;
  font-family: "OpenSans", sans-serif;
}

.banner > .menu > a,
.paginator > a,
.breadcrumb > a {
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
}

.banner > .menu > a:hover,
.breadcrumb > a:hover,
.paginator > a:hover {
  cursor: pointer;
  color: #F9D120;
}

.big > .menu > a:hover {
  cursor: pointer;
  color: #1786EB;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 95%;
  margin: 0 auto;
  max-width: 860px;
}

.home > .card {
  width: 170px;
  min-width: 170px;
  height: 170px;
  min-height: 170px;
  background-color: #1786EB;
  padding: 0.5em 1em;
  margin: 5px;
  position: relative;
}

.home > .card:hover {
  cursor: pointer;
  background-color: #1768DE;
}

.home > .card.hidden {
  display: none;
}

.home > .big {
  width: 100%;
  min-width: 100%;
  height: 360px;
  min-height: 360px;
  background-color: #303030;
  padding: 1.5em 1em;
  margin-bottom: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.big > .left {
  width: 30%;
}
.big > .right {
  width: 60%;
}
.card > h3,
.big > .left >h3 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  margin-bottom: 0.5em;
}

.card > h4,
.big > .left > h4 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.card > p,
.big > .right > p,
.big > .left > p {
  font-family: "OpenSans", sans-serif;
  font-style: italic;
}

.big > .left > h3,
.big > .left > p {
  color: #F9D120;
}

.big > .left > h4 {
  color: #FFFFFF;
}

.big > .right {
  color: #F9D120;
}

.paginator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  max-width: 860px;
}

@media screen and (max-width: 768px) {

  body{
    padding: 1.5em;
  }

  .banner {
    padding: 1em;
    height: 25%;
    min-width: 75vw;
    max-width: 75vw;
    margin: 0;
  }

  .breadcrumb {
    padding: 1em 0 0 0;
    min-width: 75vw;
    max-width: 75vw;
    margin: 0;
    display: flex;
  }

  .menu {
    width: 100%;
    display: grid;
    text-align: center;
    justify-content: center;
  }

  .home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    max-width: 75vw;
  }

  .home > .big {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: auto;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .big > .left {
    width: 100%;
  }
  .big > .right {
    width: 100%;
  }

  .big > .menu {
    width: 100%;
    display: grid;
    text-align: left;
  }
  .menu > a {
    margin-bottom: 0.3em;
  }
}
